*.cache
TP2/.vs/TP2/v16/.suo/*
TP2/Business.Logic/bin/*
TP2/Business.Logic/obj/*
TP2/Business.Entities/bin/*
TP2/Business.Entities/obj/*
TP2/Data.Database/obj/*
TP2/Data.Database/bin/*
TP2/UI.Desktop/bin/*
TP2/UI.Desktop/obj/*
TP2/UI.Consola/obj/*
TP2/UI.Consola/bin/*
TP2/UI.Web/obj/*
TP2/UI.Web/bin/*
TP2/Util/obj/*
TP2/Util/bin/*
TP2/.vs/TP2/v16/.suo
